<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h2 class="title">Wholesalers</h2>
      <div class="content table-responsive table-full-width">
        <% if @wholesalers.present? %>
          <table class="table table-hover table-stripped">
            <thead>
              <th>Wholesaler Name</th>
              <th>Action</th>
            </thead>
            <tbody>
              <% @wholesalers.each do |wholesaler| %>
                <tr>
                  <th><%= wholesaler.owner_full_name %></th>
                  <th><%= link_to "View Applications", wholesaler %></th>
                </tr>
              <% end %>
            </tbody>
          </table>  
        <% else %>
          <p>No wholesalers found</p>
        <% end %>
      </div>
    </div>

    <div class="pull-right">
      <%= paginate @wholesalers %>
      <%= page_entries_info @wholesalers, entry_name: "wholesalers" %>
    </div>
  </div>
</div>