<h1>Applications</h1>
<% if @wholesaler_templates.present? %>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-stripped">
            <thead>
              <th>Application Title</th>
              <th>Action</th>
            </thead>
            <tbody>
              <% @wholesaler_templates.each do |wholesaler_template| %>
                <th><%= wholesaler_template.title %></th>
                <th><%= link_to "Submit", { controller: "dashboard/#{wholesaler_template.class_name.tableize}", action: :create, id:wholesaler_template.id }, method: :post %></th>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="pull-right">
        <%= paginate @wholesaler_templates %>
        <%= page_entries_info @wholesaler_templates, entry_name: "applications" %>
      </div>
    </div>
  </div>
<% else %>
  <p>No Appllications found</p>
<% end %>
