<p> Dear <%= @client.email %>,</p>
<br/>
<p><%= @client.invited_by_full_name %> invited you to complete the applications on DataCrest.
  Login to your account to accept/reject the invitation.
</p>
<p><%= link_to "Login", client_session_url %></p>
<br/>
<%= @client. @client.invited_by_full_name %>
