<p> Dear <%= @client.first_name %>,</p>
<p>Tom Young has invited you to complete the following application:</p>
<ul>
  <li>Human Services</li>
</ul>

<p><%= link_to "Accept Invite & Begin Application", accept_client_invitation_url(invitation_token: @token, application: @assigned_application), class: "btn" %></p>
<p>
  <%= link_to "Accept Invite", accept_client_invitation_url(invitation_token: @token, application: @assigned_application), class: "btn" %>

</p>
<p>Thank you for your business.<br>Your agent</p>
