<p> Hi,</p>
<br/>
<p><%= @salesperson.invited_by.full_name %> invited you to join comapny
  <strong><%= @salesperson.invited_by.wholesaler_title %>.</strong> on DataCrest
  you can accept it through link below.
</p>

<p><%= link_to "Accept Invite", accept_salesperson_invitation_url(invitation_token: @token ) %></p>
<br/>
<p>
  If you don't want to accept the invitation, please ignore this email.<br/>
  Your account won't be created until you access the link above and set your password.
</p>
