<li>
  <%= link_to "Application Center", "#application-center", data: { toggle: "collapse" },
    aria: { controls: "application-center", expanded: "false" } %>

  <ul id="application-center" class="collapse list-group">
    <li class="list-styles"><%= link_to "Applications", dashboard_jimcor_dwelling_applications_path %></li>
  </ul>
</li>
