<div class="row">
  <div class="col-md-10">
    <%= render 'form_fields', f: f %>
  </div>
  <div class="col-md-2">
    <div class="card" id="insurance-application-sidebar">
      <div class="header">
        <%= f.submit "Submit", class: "btn btn-success btn-fill btn-block", style: 'margin-bottom: 10px;' %>
      </div>
      <div class="content content-full-width">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#vehicles" class="list-group-item">Vehicles</a></li>
          <li><a href="#adoption" class="list-group-item">Adoption</a></li>
          <li><a href="#food_bank" class="list-group-item">Food Bank</a></li>
          <li><a href="#sheltered_workshop" class="list-group-item">Sheltered Workshop</a></li>
          <li><a href="#residential_facilities" class="list-group-item">Residential Facilities</a></li>
          <li><a href="#clinical_facilities" class="list-group-item">Clinical Facilities</a></li>
          <li><a href="#fundraisers" class="list-group-item">Fundraisers</a></li>
          <li><a href="#building_occupied" class="list-group-item">Building Occupied</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for :js_init do %>
  InsuranceApplications.chosen_select_init();
  InsuranceApplications.init_sidebar_scroll();
<% end %>