<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.text_field :title, autofocus: true ,class: "form-control", required: true, placeholder: "Company Name" %>
    </div>
  </div>
</div>
