<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h2>Application Center</h2>
      </div>

      <div class="content table-responsive table-full-width">
        <table class="table table-hover table-stripped">
          <thead>
            <th>Agent</th>
            <th>Status</th>
            <th>Action</th>
          </thead>
          <tbody>
            <%= render @jimcor_dwelling_applications %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pull-right">
      <%= paginate @jimcor_dwelling_applications %>
      <%= page_entries_info @jimcor_dwelling_applications, entry_name: "applications" %>
    </div>
  </div>
</div>
