<%= render 'layout/shared/dashboard' %>
<div class="main-panel">
  <div class="content">
    <%= render 'layout/alerts' %>
    <%= render 'shared/preliiminary_notifications' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>

