<%= content_for :hero do %>
  <div class="blurred-container" style="margin-bottom: 50px;">
    <div class="img-src" style="background-image: url('<%= image_path 'http://media.bizj.us/view/img/6178751/2010-home-office-1*1200xx4256-2394-0-219.jpg' %>')"></div>
  </div>
<% end  %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render 'dashboard/insurance_applications/global_insurance_applications_table' %>
  </div>
</div>

<%= content_for :js_init do %>
  Pages.init();
<% end %>
