<div class="jumbotron text-center">
  <div clas="container">
    <h2>About us</h2>
    <p>
      Hello, world! This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    </p>
  </div>
</div>

<div cass="row">
  <div class="col-sm-10 col-sm-offset-2 intro">
    <h2>What We do</h2>
    <%= video_tag("introduction.mp4", controls: true, autobuffer: true, class: "video") %>
  </div>
  <div class="clearfix"></div>
</div>
