<div class="card">
  <div class="header">
    <h4 class="title">Applications Hosted on <%= render_brand_name %></h4>
    <p class="category">Public Directory</p>
  </div>
  <div class="content">
    <div class="toolbar">
      <!--        Here you can write extra buttons/actions for the toolbar              -->
    </div>
    <div class="fresh-datatables">
      <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
        <thead>
        <tr>
          <th>Title</th>
          <th>Wholesaler</th>
          <th>Location</th>
          <th class="disabled-sorting text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
        <%= render 'dashboard/insurance_applications/global_insurance_applications_table_data' %>
        </tbody>
      </table>
    </div>
  </div>
</div>