<% @templates.each do |template| %>
  <tr>
    <td><%= template.title %></td>
    <td><%= template.wholesaler_title %></td>
    <td><%= template.wholesaler_location %></td>
    <td class="text-right">
      <%= link_to "link", { controller: "dashboard/insurance_applications/#{template.class_name.tableize}", action: :new, id: template.id }, class: "btn btn-sm btn-primary" %>
    </td>
  </tr>
<% end %>
