<li>
  <a data-toggle="collapse" href="#application-center">
    <i class="pe-7s-note2"></i>
    <p>Application Center<b class="caret"></b></p>
  </a>
  <div class="collapse>" id="application-center">
    <ul class="nav">
      <li class="<%= active_class(dashboard_insurance_applications_path) %>"><%= link_to "View Submissions", dashboard_insurance_applications_path %></li>
      <li class="<%= active_class(global_dashboard_insurance_applications_path) %>"><%= link_to "Start New App", global_dashboard_insurance_applications_path %></li>
    </ul>
  </div>
</li>