<li class="<%= active_class(dashboard_insurance_applications_path) %>">
  <%= link_to dashboard_insurance_applications_path do %>
      <i class="pe-7s-note2"></i>
      <p>Application Center</p>
  <% end %>
</li>
