<h2><%= @agent.full_name.titleize %> Applications</h2>
<div class="row">
  <div class="col-md-8">
    <% if @agent_templates.present? %>
      <div class="card">
        <div class="content table-responsive table-full-width">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Actions</th>
              </tr>
            </thead>
            <% @agent_templates.each do |agent_template| %>
              <tbody>
                <tr>
                  <td><%= agent_template.title %></td>
                  <td>
                    <%= link_to "Delete", dashboard_agent_wholesaler_application_path(agent_template, agent_id: @agent.id), method: :delete, data: {confirm: "Are you sure?"} %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    <% else %>
      <p>No applications found</p>
    <% end %>
  </div>
</div>

<%= link_to "Go Back", dashboard_agent_wholesaler_applications_path %>
