#top-row
  background-color: whitesmoke

.intro .video
  max-width: 90%

.mb-5
  margin-bottom: 5px

#social-link-div
  margin-top: 6%

#social-link-div .social-link-buttons
  border-radius: 33px
  margin-left: 1%
