body.dashboard
  #insurance-application-sidebar
    position: fixed
    top: 90px
    right: 15px
    padding: 0
    width: 12.5%
    .content
      padding-top: 5px
      .nav-pills
        li
          margin: 0
          a
            border-radius: 0
            border: none
            padding: 8px 8px
            font-size: 90%
            color: inherit
          &.active
            a
              background-color: $primary-color
              color: #fff

.progress-wrapper
  padding: 5px
  border-top: none !important

#insurance-application-sidebar
  border-top: none