
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="header">
          <h2 class="title">Wholesalers</h2>
        </div>
        <div class="content">
          <% if @wholesalers.present? %>
            <div class="table-responsive table-full-width">
              <table class="table table-hover table-stripped">
                <thead>
                <th>Wholesaler Name</th>
                <th>Action</th>
                </thead>
                <tbody>
                <% @wholesalers.each do |wholesaler| %>
                    <tr>
                      <th><%= wholesaler.owner_full_name %></th>
                      <th><%= link_to "View Applications", dashboard_wholesaler_path(wholesaler) %></th>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <p>No wholesalers found</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>